/* General Demo Style */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; outline:0;}
body, html { font-size: 100%; padding: 0; margin: 0;}

*:active, *:focus { outline:0; }
/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }
.right { float:right; }

.textCenter { text-align: center; }
.textRight { text-align: right; }

.hide { display:none; }
body {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	color: #2E3E4F;
	background: #FFF;
	font-weight: 300;
	overflow-x: hidden;
}

a {
	text-decoration: none;
	color: #00BCD4;
}


/* Responsive Rows/Columns Layout */
.container-fluid:before, .container-fluid:after { display: table; line-height: 0; content: ""; }
.container-fluid:after {clear: both; }

.row-fluid { width: 100%; *zoom: 1; margin-bottom:1.9607843%;}
	.row-fluid:before, .row-fluid:after { display: table; content: ""; }
	.row-fluid:after { clear: both; }
	.row-fluid > [class*="span"] { float: left; margin-left:  1.94901%; }
	.row-fluid > [class*="span"]:first-child { margin-left: 0; }
	.row-fluid > .span1 { width: 6.542%; }
	.row-fluid > .span2 { width: 15.039%; }
	.row-fluid > .span2a { width: 19.039%; }
	.row-fluid > .span3 { width: 23.535%; }
	.row-fluid > .span4 { width: 32.031%; }
	.row-fluid > .span5 { width: 40.527%; }
	.row-fluid > .span6 { width: 49.023%; }
	.row-fluid > .span7 { width: 57.519%; }
	.row-fluid > .span7a { width: 72%; }
	.row-fluid > .span8 { width: 66.015%; }
	.row-fluid > .span9 { width: 74.511%; }
	.row-fluid > .span9a { width: 81.511%;}
	.row-fluid > .span10 { width: 83.007%; }
	.row-fluid > .span11 { width: 91.503%; }
	.row-fluid > .span12 { width: 100%; *width: 99.94680851063829%; }

body { padding-top: 57px; }

/* Header Style */

header {
	border-bottom: 2px solid #CCC;
	z-index: 1000;
	height: 57px;
	position: fixed;
	top:0;
	width: 100%;
	background-color: #FFF;
}

.header-logo,
.header-menu { display: inline-block; width: 49.5%; padding: 0 1em; }

.header-logo { padding-left: 1.5em; }
.header-logo img { padding: 1.25em 0 0; }

.header-menu { text-align: right; }
.header-menu ul.nav { list-style: none;}
.header-menu ul.nav li { display:inline-block; padding: 0 0.5em; }

.header-menu ul.nav li a {
	color: #2e3e4f;
}

/* Main Content */
.main {
}

.main.full-width {
	margin: 5% auto 0;
	max-width: 50em;
	text-align: center;
	padding: 2em;
}

/* general style for the form */
.nl-form {
	width: 100%;
	margin: 0.3em auto 0 auto;
	line-height: 1.5;
	font-size: 1.75em;
}

.nl-form ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.nl-form .inputCompany { width: 180px; }
.nl-form .inputCity { width: 120px; }
.nl-form .inputStatus { }
.nl-form .inputRev,
.nl-form .inputIndustry { width: 150px; }

/* normalize the input elements, make them look like everything else */
.nl-form input,
.nl-form select,
.nl-form button {
	border: none;
	background: transparent;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	font-weight: inherit;
	line-height: inherit;
	display: inline-block;
	text-align: center;
	padding: 0;
	margin: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.nl-form select {
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 0px;
	text-overflow: '';
}

.nl-form select::-ms-expand {
    display: none;
}
.nl-form select option { font-size: 0.95em; font-weight: normal; }

.nl-form input:focus {
	outline: none;
}

/* custom field (drop-down, text element) styling  */
.nl-field {
	display: inline-block;
	position: relative;
}

.nl-field.nl-field-open {
	z-index: 10000;
}

/* the toggle is the visible part in the form */
.nl-field-toggle,
.nl-form input,
.nl-form select  {
	line-height: inherit;
	display: inline-block;
	color: #00BCD4;
	cursor: pointer;
	border-bottom: 1px dashed #00BCD4;
}

/* drop-down list / text element */
.nl-field ul {
	position: absolute;
	visibility: hidden;
	background: #00BCD4;
	left: -0.5em;
	top: 50%;
	font-size: 80%;
	opacity: 0;
	-webkit-transform: translateY(-40%) scale(0.9);
	-moz-transform: translateY(-40%) scale(0.9);
	transform: translateY(-40%) scale(0.9);
	-webkit-transition: visibility 0s 0.3s, opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: visibility 0s 0.3s, opacity 0.3s, -moz-transform 0.3s;
	transition: visibility 0s 0.3s, opacity 0.3s, transform 0.3s;
}

.nl-field.nl-field-open ul {
	visibility: visible;
	opacity: 1;
	-webkit-transform: translateY(-50%) scale(1);
	-moz-transform: translateY(-50%) scale(1);
	transform: translateY(-50%) scale(1);
	-webkit-transition: visibility 0s 0s, opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: visibility 0s 0s, opacity 0.3s, -moz-transform 0.3s;
	transition: visibility 0s 0s, opacity 0.3s, transform 0.3s;
}

.nl-field ul li {
	color: #fff;
	position: relative;
}

.nl-dd ul li {
	padding: 0.25em 1em 0.25em 0.5em;
	cursor: pointer;
	white-space: nowrap;
}

.nl-dd ul li.nl-dd-checked {
	color: #478982;
}

.no-touch .nl-dd ul li:hover {
	background: rgba(0,0,0,0.05);
}

.no-touch .nl-dd ul li:hover:active {
	color: #478982;
}

.nl-ti-text ul {
	min-width: 8em;
}

.nl-ti-text ul li.nl-ti-input input {
	width: 100%;
	padding: 0.2em 2em 0.2em 0.5em;
	border-bottom: none;
	color: #fff;
}

.nl-form .nl-submit {
	line-height: 2.5;
	text-transform: uppercase;
	cursor: pointer;
	position: relative;
	background: #00BCD4;
	color: #fff;
	padding: 0 0.75em;
	font-weight: bold;
	letter-spacing: 3px;
	font-size: 80%;
	border-radius: 0.25em;
	margin: 0.5em auto;
}

.no-touch .nl-form .nl-submit:hover,
.no-touch .nl-form .nl-submit:active {
	background: #0DB7D3;
}

.steps-container { position: relative; }
.steps { position: relative; top:-100%; opacity: 0; visibility: hidden; -webkit-transition:all linear 0.5s;  transition:all linear 0.5s; }
.steps.first { display:inline; opacity: 1; top: 0; }
.steps.last { }
.steps.show { display: inline; opacity: 1; top: 0; visibility: visible; }

.panel1 { z-index: 1; }
.panel2 { z-index: 2;  }
.panel3 { z-index: 3;  }
.panel4 { z-index: 4;  }
.panelsubmit { z-index: 5; }
.panelsubmit { z-index: 6; }

.email-confirm { margin: 1em 0 0; }
.email-confirm.show { display:block; }

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background:#FFF;
	opacity: 0;
	z-index: 9999;
	visibility: hidden;
	-webkit-transition: visibility 0s 0.3s, opacity 0.5s;
	-moz-transition: visibility 0s 0.3s, opacity 0.5s;
	transition: visibility 0s 0.3s, opacity 0.5s;
	padding-top:25%;
}

.overlay.show {
	opacity: 1;
  visibility: visible;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
}

.overlay .heading { font-size: 2em; }
.data-output { font-size: 1.25em; }

/******************/
/* Create Quote */



.left-panel { background: #F4F4F4; display: inline-block; width: 100%; padding-right: 250px; vertical-align: top; padding: 2em; position: absolute; height: 100%;  }
.right-panel { display: inline-block; width: 250px; height: 100%; vertical-align: top; position: fixed; right: 0; top:0; margin-top: 60px; background-color: #FFF; z-index: 5; }

.left-panel .button { padding: 0.5em 0.75em; font-size: 1.125em; border-radius: 0.25em; background: #FFF; color:#00BCD4; border: 1px solid #00BCD4;}
.left-panel .button:hover { background: #00BCD4; color:#FFF; cursor: pointer;}
.left-panel input,
.left-panel select { padding: 0.5em; color: #999; background-color: #FFF; border: 1px solid #D0CECF; border-radius: 0.25em; font-family: 'Lato', Calibri, Arial, sans-serif; }
.left-panel input.small { width: 3em; }
.left-panel input.full,
.left-panel select.full { width: 100%; }

.right-panel .btn-container { position: absolute; bottom:5em; right:1em; }
.right-panel .button { background-color: #AEC300; padding: 0.5em 0.75em; font-size: 1.125em; border-radius: 0.25em; color:#FFF; border: 0;}
.right-panel .link-button { background-color: #FFF; padding: 0.5em 0.75em; font-size: 1.125em; border-radius: 0.25em; border: 0; color:#00BCD4;  }

.progress-bar-section { margin: 2em auto; text-align: center; }
.progress-bar-section .progress-bar-value { display:inline-block; padding: 0 1em 0 0;}
.progress-bar-section .progress-bar { background-color: #EAEAE6; width: 15em; height: 1em; border-radius: 5em; display:inline-block; text-align: left; }
.progress-bar-section .progress-bar .progress-bar-completed { width: 0%; height: 1em; background-color: #AEC300; display:inline-block; border-radius: 5em 0 0 5em; -webkit-transition:width linear 0.5s;  transition:width linear 0.5s; }

.progress-steps-container { margin: 1em 0 3em; }
.progress-steps-container ul.progress-steps { margin: 0 auto; list-style: none; text-align: center; }
.progress-steps-container ul.progress-steps li { display:inline-block; margin: 0 2em; }

 .step-instuctions { font-weight: bold; }

/******************/
/* Step 1 */

.services-container { margin: 0 auto; }
.services-container ul.service-list { list-style: none; padding: 0; }
.services-container ul.service-list > li { background: #FFF; padding: 2em; margin-bottom: 1em; box-shadow: 2px 2px 4px #999; }
.services-container ul.service-list > li .button { float:right; }
.services-container ul.service-list > li h3 { margin-top: 0; font-size: 1.5em; }
.services-container ul.service-list > li h3 .small { font-size: 0.75em; font-style: italic; font-weight: normal; color: #B0B0B0; }
.services-container ul.service-list > li li { list-style-type: disc; }
.services-container ul.service-list > li a { padding-top: 1em; display: inline-block; }

/******************/
/* Step 2 */

.companyStructure-container { margin: 0 auto; }
.companyStructure-container .companyStructure-form { margin: 0 auto; width: 75%; }

/******************/
/* Step 3 */

.companyLocation-container { margin: 0 auto; }
.companyLocation-container .companyLocation-form { margin: 0 auto; width: 75%; }

/******************/
/* Step 4 */

.finalizeService-container { margin: 0 auto; }
.priceTable-container { border-top: 1px dotted #ccc; padding: 1em 0; }
.priceTable-container:first-child { border-top:0 none; padding: 0em 0; }
.priceTable-container ul { list-style: none; margin: 0; padding: 0; }
.priceTable-container ul h3 { font-size: 1.5em; margin: 0.125em;  }
.priceTable-container ul h4 { font-size: 1.25em; margin: 0; }
.priceTable-container ul h4 .small { display:block; font-size: 0.5em; font-style: italic; font-weight: normal; }
.priceTable-container ul.priceTable-Defs {}
.priceTable-container ul.priceTable-Selection {}
.priceTable-container ul.priceTable-Selection li { text-align: center; vertical-align: baseline; margin-bottom:2px; margin-right: 1px;}
.priceTable-container ul.priceTable-Defs li.heading,
.priceTable-container ul.priceTable-Selection li.heading { height: 5em; width: 100%; padding-top: 0.75em; }
.priceTable-container ul.priceTable-Defs li.value,
.priceTable-container ul.priceTable-Selection li.value { height: 5em; width: 100%; padding-top: 1.75em; }

.priceTable-container ul.priceTable-Selection li.heading { background-color: #EAEAE6; }
.priceTable-container ul.priceTable-Selection li.value { background-color: #FFF; }
.priceTable-container ul.priceTable-Selection.active li.heading { background-color: #7AD8E4; }
.priceTable-container ul.priceTable-Selection.active li.value { background-color: #D9F1F5; }

.priceTable-Element.span2 { margin: 1px; }

/******************/
/* Animations */
.steps-container { position: relative; }
.steps-container > div { -webkit-transition:all linear 0.5s;  transition:all linear 0.5s; }
.services-container,
.companyStructure-container,
.companyLocation-container,
.finalizeService-container { opacity: 0; top: 100%; visibility: hidden; position: absolute; width:100%; }

.services-container.active,
.companyStructure-container.active,
.companyLocation-container.active,
.finalizeService-container.active { opacity: 1; top: 0; visibility: visible;  }
